{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "insertPragma": false,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "rangeStart": 0,
  "requirePragma": false,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
